Bamboo Bioplastic 1. Brown Straw Fragment.txt
CPLA Bioplastic 1. White Coffee Cup Lid Fragment.txt
CPLA Bioplastic 2. White Cutlery Fragment.txt
Cornstarch Bioplastic 1. White Cutlery Fragment.txt
Mater-Bi Bioplastic 1. Green Shopping Bag Film.txt
Mater-Bi Bioplastic 2. Green Produce Bag Film.txt
Nature Flex NK Bioplastic 1. Clear Cellophane Bag Film.txt
PLA Bioplastic 11. Clear Cold Drink Cup Fragment.txt
PLA Bioplastic 12. White Cutlery Wrapper Film.txt
PLA Bioplastic 13. Clear Cup Lid Fragment.txt
PLA Bioplastic 14. Clear Clamshell Container Fragment.txt
PLA Bioplastic 18. Clear Card Wrapper Film.txt
PLA Bioplastic 4. White 3D Printer Fragment.txt
PLA Bioplastic 5. Orange 3D Printer Fragment.txt
PLA Bioplastic 6. Grey 3D Printer Fragment.txt
PLA Bioplastic 7. Clear 3D Printer Fragment.txt
PLA Bioplastic 8. Black 3D Printer Fragment.txt
PLA Bioplastic 9. Silver 3D Printer Fragment.txt
Sugarcane Bioplastic 1. Brown Cutlery Fragment.txt
Sugarcane Bioplastic 2. Brown Straw Fragment.txt
Sugarcane Bioplastic 3. Brown Straw Fragment.txt
