Bamboo Bioplastic 1. Brown Straw Fragment.CSV
CPLA Bioplastic 1. White Coffee Cup Lid Fragment.CSV
CPLA Bioplastic 2. White Cutlery Fragment.CSV
Cornstarch Bioplastic 1. White Cutlery Fragment.CSV
Flaxstic Bioplastic 1. Green Phone Case Fragment.CSV
Mater-Bi Bioplastic 1. Green Shopping Bag Film.CSV
Mater-Bi Bioplastic 2. Green Produce Bag Film.CSV
Nature Flex NK Bioplastic 1. Clear Cellophane Bag Film.CSV
PHA Bioplastic 1. Blue Straw Fragment.CSV
PHA Bioplastic 2. White Straw Fragment.CSV
PLA Bioplastic 1. White Straw Fragment.CSV
PLA Bioplastic 10. Brown Straw Fragment.CSV
PLA Bioplastic 11. Clear Cold Drink Cup Fragment.CSV
PLA Bioplastic 12. White Cutlery Wrapper Film.CSV
PLA Bioplastic 13. Clear Cup Lid Fragment.CSV
PLA Bioplastic 14. Clear Clamshell Container Fragment.CSV
PLA Bioplastic 15. White Straw Fragment.CSV
PLA Bioplastic 16. White Straw Fragment.CSV
PLA Bioplastic 17. Brown Straw Fragment.CSV
PLA Bioplastic 18. Clear Card Wrapper Film.CSV
PLA Bioplastic 2. White Straw Fragment.CSV
PLA Bioplastic 3. White Teabag Fiber.CSV
PLA Bioplastic 4. White 3D Printer Fragment.CSV
PLA Bioplastic 5. Orange 3D Printing Fragment.CSV
PLA Bioplastic 6. Grey 3D Printing Fragment.CSV
PLA Bioplastic 7. Clear 3D Printing Fragment.CSV
PLA Bioplastic 8. Black 3D Printing Fragment.CSV
PLA Bioplastic 9. Silver 3D Printing Fragment.CSV
Sugarcane Bioplastic 1. Brown Cutlery Fragment.CSV
Sugarcane Bioplastic 2. Brown Straw Fragment.CSV
Sugarcane Bioplastic 3. Brown Straw Fragment.CSV
